/*
#main {
	width: 1260px !important;
}*/
#logo img {
  max-width: 350px !important;
  height: auto !important;
}
/*
.sidebar {
	width: 330px !important;
}*/
.title_teaser {
	color: #000;
	font-size: 41px;
	font-weight: bold;
	line-height: 35px;
}
.field-name-field-seccion{
	display: inline-block;
	float: left;
}

.field-name-field-seccion a {
	color: #005383 !important;
	font-size: 13px;
}
.submitted-by {
	color: #000;
	font-size: 11px;
}

.field-type-text-with-summary {
	display: inline-block;
	color: #000;
	font-size: 15px;
	line-height: 17px;	
}
.title_front {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	line-height: 16px;
}
.nota_rel .field-item{
	display: inline-grid;
	width: 31%;
	height: auto;
}
.nota_rel .submitted-by {
	display: none;
}
.bloqueJson {
	display: block;
	width: 258px;
	background-color: #c9caca;
}
.bloqueJson hr {
	background-color: #000;
	color: #000;
	border: 0px solid #000;
}
.bloqueJson img {
	padding: 7px;
}

.bloqueJson .item span{
	font-size: 22px;
	line-height: 26px;
	margin-top: 12px;
	color: #000 !important;
}
.unHome {
	color: #00437B !important;
	font-size: 14px;
	margin-left: 45px;
}
.unHome:hover {
	color: #FFF;
}